body {
    font-family: 'Inter', sans-serif !important; 
}

:root {
    --c-bs-success-lighter: #87d6b1;
}

.bg-success-light {
    background-color: var(--c-bs-success-lighter);
}

#conn-status-span {
    animation: animateFont 2s infinite;
}

/* Center GameStart modal-title */
.modal-header h5 {
    width: 100%
}

@keyframes animateFont {
    50% {font-size: 18px;}
}